.radio {

  .input {
    clear: both;
    display: inline-block;
    margin-right: 10px;

    input {
      float: left;
      position: relative;
      background: #141517;
      -webkit-appearance: none;
      width: 17px;
      height: 18px;
      border-radius: 17px;
      margin-right: 6px;
      cursor: pointer;
      box-shadow: inset 0px 1px 2px -1px black, inset 0px -1px 1px -1px #aaa;

      &:checked:after {
        display: block;
        width: 11px;
        height: 11px;
        border-radius: 11px;
        background: #40a5c3;
        content: "";
        position: absolute;
        left: 3px;
        top: 3px;
        box-shadow: inset 1px 0px 2px -1px #fff;
      }
    }

    span {
      float: left;
      font-size: 12px;
      color: #f3f3f3;
      font-weight: bold;
      line-height: 26px;
      text-shadow: 1px 1px 0 #000;
      display: block;
    }
  }
}